<div class="row">
  <div class="medium-2 columns">
    <%= render 'sidebar' %>
  </div>
  <div class="medium-8 columns">
    <div data-chat-room="Lobby">
      <% @messages.each do |msg| %>
        <article>
          <span class="speaker"><%= msg.sent_by.name %></span>
          <span class="body"><%= msg.body %></span>
        </article>
      <% end %>
    </div>
    <%= render 'chat_room' %>
    <div class="zeina-bar">
      <% if @featured_event.present? %>
        <%= link_to event_path(@featured_event.id) do %>
          <h1><%= @featured_event.title %> <span class="label secondary"><%= @featured_event.date %></span> </h1>
        <% end %>
        <p><%= raw auto_html_for @featured_event.description %></p>
      <% end %>

    </div>
  </div>
  <div class="medium-2 columns">
    <ul class="menu simple niggaz-list">
      <% User.all.select {|u| u.avatar.present?}.to_a.shuffle.each do |user| %>
        <div id="user-<%= user.id %>"><%= image_tag user.avatar.url %>
        <% if current_user.admin? %>
          <%= link_to "destroy", users_path(user.id), method: :delete %>
        <% end %>
        </div>
      <% end %>

    </ul>
  </div>
</div>
