
<div class="row">
  <div class="medium-7 columns small-centered">

    <% @events.each do |event| %>
      <div>
        <h3><%= link_to event.title, event %></h3>
        <p><%= truncate(event.description, length: 140) %></p>
        <div class="callout">
          <ul class="menu simple">
            <li><%= event.date.strftime("%a, %B %d %Y") %></li>
            <li><%= event.place %></li>
            <li><%= link_to "Added by: #{event.user.name}", event_path(event) %></li>
            <li><%= link_to "Comments #{event.comments.size}", event_path(event) %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="medium-2 columns">
    <div class="clearfix sidebar">
    </div>
  </div>
</div>
