<div class="row">
  <div class="medium-10 columns">
    <% @events.each do |event| %>
      <div class="medium-3 columns">
      	<%= link_to event.title, event %>
      </div>
      <div class="medium-3 columns">
        <%= event.place %>
      </div>
      <div class="medium-3 columns">
        <%= event.date %>
      </div>
      <div class="medium-3 columns">
        <%= event.user.email %>
      </div>
    <% end %>
  </div>
  <div class="medium-2 columns">
    <div class="clearfix">
      <%= link_to "Add Event", new_event_path, class: 'button hollow success right' %>
    </div>
  </div>
</div>
