
<div class="row">
  <div class="medium-3 columns show-for-medium">
    <%= render 'sidebar' %>
  </div>
  <div class="medium-7 columns">

    <% @events.each do |event| %>
      <div>
        <h3><%= link_to event.title, event %></h3>
        <p>
          <%= raw(auto_html_for(truncate(event.description, length: 200))) %>
          <%= link_to "read more", event %>
        </p>
        <div class="callout">
          <ul class="menu simple">
            <li><%= event.date.strftime("%a, %B %d %Y") %></li>
            <li><%= event.place %></li>
            <br />
            <li>
              <%= link_to event_path(event) do %>
                Added by: <%= event.user.name %>
              <% end %>
            </li>
            <li>
              <%= link_to event_path(event) do %>
                Attending: <span class="success badge"><%= event.users.size %></span>
              <% end %>
            </li>
            <li>
              <%= link_to event_path(event) do %>
                Comments: <span class="secondary badge"><%= event.comments.size %></span>
              <% end %>
            </li>

          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="medium-2 columns">
    <div class="clearfix sidebar">
    </div>
  </div>
</div>
