<div class="row" id="content">
  <section class="content">
    <div class="medium-4 columns">
      <%= render 'sidebar' %>

    </div>
    <div class="medium-6 columns">
      <h3>Add a new event:</h3>
      <% if @event.errors.any? %>
        <% @event.errors.full_messages.each do |msg| %>
        <div class="callout">

          <p><%= msg %></p>
        </div>
        <% end %>
      <% end %>

      <%= form_for @event do |f| %>
        <%= f.label :title do %>Title:
      	  <%= f.text_field :title %>
        <% end %>
        <div class="row" id="content">
          <div class="medium-6 columns">
            <%= f.label :date do %>Date:
                <%= f.text_field :date, class: "fdatepicker" %>
            <% end %>
          </div>
          <div class="medium-6 columns">
            <%= f.label :place do %>Place:
                <%= f.text_field :place %>
            <% end %>
          </div>
        </div>
          <%= f.label :description do %>Description:
      	    <%= f.text_area :description %>
          <% end %>
      	<%= f.submit class: "hollow button success" %>
      <% end %>
    </div>
    <div class="medium-3 columns">
    </div>
  </section>
</div>
