<div class="row">
  <div class="medium-3 columns show-for-medium">
    <%= render 'sidebar' %>
  </div>
  <div class="medium-6 columns">
    <div class="panel event">
      <h3>
        <%= @event.title %>
      </h3>
      <%= @event.place %>
      <%= @event.date %>
      <p>
        <%= raw auto_html_for @event.description %>

      </p>
      <span class="secondary label">by <%= @event.user.name %> on <%= @event.created_at %></span>
    </div>
    <br />


    <% @event.comments.each do |comment| %>
        <div class="panel">
          <p><%= raw auto_html_for comment.comment %><span class="secondary label">by <%= comment.user.name %> on <%= comment.created_at %></span></p>
        </div>
    <% end %>


    <%= form_for [@event, @comment] do |f| %>
      <%= f.label :comment %>
      <%= f.text_field :comment %>
      <%= f.submit "Add Comment" %>
    <% end %>

  </div>

  <div class="medium-3 columns">
    <div class="callout panel">
      <% if current_user.can_attend?(@event) %>
          <%= link_to "Attend", event_attend_path(@event.id), class: "button hollow success" %>
      <% end %>
      <% if current_user == @event.user %>
        <%= link_to "Edit", edit_event_path(@event), class: "button hollow" %>
        <%= link_to 'Destroy', event_path(@event),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: "alert button hollow" %>
      <% end %>
      <h6 class="text-center">Attending: <span class="success badge"><%= @event.users.size %></span></h6>
      <% if @event.users.any? %>
        <hr />
        <ul class="attendees">
        <% @event.users.each do |user| %>
          <li class="text-center">
            <%= user.name %>
            <% if current_user == user %>
              <span class="secondary badge">me</span>
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>
    <br />
    </div>
  </div>
</div>
