<div class="row">
  <div class="medium-4 columns">
    <div class="sidebar">
      <nav>
        <ul class="side-nav">
          <li class="heading">
            <%= link_to "Events", events_path %>
          </li>
          <% Event.all.each do |event| %>
            <li>
              <%= link_to event.title, event_path(event.id) %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel event">
      <h3>
        <%= @event.title %>
      </h3>
      <%= @event.place %>
      <%= @event.date %>
    </div>
    <br />
    <% if current_user.can_attend?(@event) %>
      <%= link_to "Attend", event_attend_path(@event.id), class: "button hollow success" %>
    <% else %>
      <span class="success label">Attending</span>
    <% end %>

  </div>

  <div class="medium-4 columns">
    <h4>Attendees:</h4>
    <ul>
    <% @event.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
    </ul>
    <br />
  </div>
</div>
