<div class="row">
<h3>
  <%= @event.title %>
</h3>
<%= @event.place %>
<%= @event.date %>
</div>

<div class="row">
  <h4>Attendees:</h4>
  <% @event.users.each do |user| %>
  <%= user.email %>
  <% end %>
  <%= link_to "Attend", event_attend_path(@event.id) %>
</div>
