<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= link_to "Party niggaz", root_path %></li>
      <li>
      <%= link_to "Events", events_path %>
        <ul class="menu vertical">
          <li class="hide-for-medium menu-text"><%= link_to "Add Event", new_event_path %></li>
          <li><%= link_to "Today", filter_events_path(:today) %></li>
          <li><%= link_to "Tomorrow", filter_events_path(:tomorrow) %></li>
          <li><%= link_to "This Week", filter_events_path(:this_week) %></li>
        </ul>
      </li>
      <li>
        <ul class="dropdown menu" data-dropdown-menu>
          <ul class="menu vertical">
            <% if user_signed_in? %>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "Profile", edit_user_registration_path, class: ' ' %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right show-for-medium">

    <ul class="menu">
      <!-- <li><input type="search" placeholder="Search"></li> -->
      <!-- <li><button type="button" class="button">Search</button></li> -->
      <% if user_signed_in? %>
        <li class="menu-text"><%= link_to "Add Event", new_event_path, class: 'button hollow' %></li>
        <li class="menu-text"><%= link_to "Profile", edit_user_registration_path, class: ' ' %></li>
        <li class="menu-text"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: " secondary" %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, class: 'button hollow success' %>
      <% end %>
    </ul>
  </div>
</div>
