<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "Party Niggaz" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
  </head>

  <body>

  <div class="row">
    <%= render 'top_bar' %>

    <div class="medium-12 columns">
      <ul class="breadcrumbs">
        <% @breadcrumbs.each do |name, url| %>
          <li><%= link_to name, url %></li>
        <% end %>
      </ul>
      <% if flash[:notice].present? %>

        <div class="callout success">
            <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </div>
  </body>
</html>
